:root {
  --features-item-gap: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*Шапка*/
.main-page-web {
  color: #2196f3;
}
.main-page-studio {
  color: #000000;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
}
.header-nav:not(:last-child) {
  margin-right: 50px;
}
.header-tel {
  display: flex;
  margin-left: auto;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-button a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-header {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin-right: 50px;
}
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-header:hover,
.link-header:focus {
  color: #2196f3;
}
.link-contacts {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-left: 50px;
}
.link-contacts:hover,
.link-contacts:focus {
  color: #2196f3;
}
/*Hero*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}
/* Главная страница */
.main-page {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-right: 93px;
}
/* Ворк */
.work-thumb {
  display: inline-flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}
.list-about-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.list-about:not(:last-child) {
  margin-right: 30px;
}
.list-about {
  width: calc((100% - 90px) / 4);
}

/* Кнопка */
.button-main {
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.list-about {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}
.list-about-text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.information-about {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Інформация */
.information {
  padding-bottom: 94px;
}
.information-about {
  margin-bottom: 50px;
}
.list-img {
  display: flex;
}
.img-item:not(:last-child) {
  margin-right: 30px;
}

/* Команда */
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-about {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.list-team {
  display: flex;
}
.team-member:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-information {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #ffffff;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-socials {
  justify-content: center;
}

.team-icon {
  color: #afb1b8;
}

.team-icon:hover,
.team-icon:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials-list {
  display: flex;
}

.socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
}

.socials-icon {
  fill: currentColor;
}

/* Clients */

.subtitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--features-item-gap));
  margin-top: calc(-1 * var(--features-item-gap));
}

.clients-item {
  flex-basis: calc(100% / 6 - var(--features-item-gap));
  margin-left: var(--features-item-gap);
  margin-top: var(--features-item-gap);
}

.clients-thumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.clients-icon {
  fill: currentColor;
}

.clients-thumb:hover,
.clients-thumb:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.studio-footer {
  color: #ffffff;
}
.list-footer:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link-map {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link-contacts:hover,
.footer-link-contacts:focus {
  color: #2196f3;
}

.socials-invite {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.foot-icon {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.foot-icon:hover,
.foot-icon:focus {
  background-color: #2196f3;
}
.socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
}

.footer-thumbs {
  display: flex;
  align-items: baseline;
}

.adress {
  margin-right: 70px;
}
/* Портфолио */
.button-one {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  max-height: 38px;
  cursor: pointer;
}
.button {
  color: #212121;
  background-color: ##f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
}

.button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-button .button {
  background: #f5f4fa;
  border-radius: 4px;
}

.button-filter:hover,
focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.menu-text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.portfolio-about {
  padding-top: 94px;
  padding-bottom: 90px;
}
.list-portfolio {
  display: flex;
  justify-content: center;
}

.list-button:not(:last-child) {
  margin-right: 9px;
}
.list-portfolio {
  margin-bottom: 40px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--features-item-gap));
  margin-top: calc(-1 * var(--features-item-gap));
}

.line {
  border-bottom: 1px solid #ececec;
}

.menu-information {
  padding: 20px 25px;
}
.menu-link {
  display: block;
}
.portfolio-img {
  flex-basis: calc(100% / 3 - var(--features-item-gap));
  margin-left: var(--features-item-gap);
  margin-top: var(--features-item-gap);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-header {
  border: 1px solid #ececec;
}

.menu-link:hover,
.menu-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
